td,input{font-family:ו,arial; font-size:12px; color:#000000}
td.a{color:#ffffff;}
td.aa{line-height:1.4em; color: #663300}
td.b{font-size:16px}
td.c{line-height:1.4em; }
td.d{line-height:1.3em; }
td.e{color:#003366}
td.f{color:#ffffff;line-height:1.3em;}
td.g{color:#fe9c07}
td.h{color:#fabd52}
td.i{color:#ffffff;font-size:14.8px}
A:link {font-size:12px;text-decoration: none; color: #000000}
A:visited {font-size:12px;text-decoration: none; color: #cb0800}
A:active {font-size:12px;text-decoration: none}
A:hover {font-size:12px;text-decoration: underline; color: #0000ff}
A.a:link {font-size:12px;text-decoration: none; color: #0000ff}
A.a:visited {font-size:12px;text-decoration: none; color: #cb0800}
A.a:active {font-size:12px;text-decoration: none}
A.a:hover {font-size:12px;text-decoration: underline; color: #ff2222}
A.b:link {font-size:12px;text-decoration: none; color: #ffffff}
A.b:visited {font-size:12px;text-decoration: none; color: #ffffff}
A.b:active {font-size:12px;text-decoration: none}
A.b:hover {font-size:12px;text-decoration: none; color: #ffffff}



A.c:link { font-size:16px,text-decoration: none; color:  #000000}
A.c:visited { font-size:16px;text-decoration: none; color:#0000ff}
A.c:active { font-size:16px;text-decoration: none}
A.c:hover {font-size:16px;text-decoration: underline; color: #cb0800}

input,select,option{font-size:12px;color:#000000}